.ant-modal-body {
  padding: 0px;
  font-size: 14px;
  word-wrap: break-word;
}
.ant-modal-content {
  position: relative;
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  pointer-events: auto;
}

.ant-notification-notice {
}

.ant-notification-notice-content {
}

.ant-notification-notice-description {
  font-size: 16px;
  margin-top: -6px;
}

.ant-notification-notice-close {
  color: #ffffff;
  top: 16px;
  font-weight: 600;
}
