@import './components/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import './components/slick_custom.css';
@import './components/slider_antd_custom.css';
@import './components/modal_antd_custom.css';
@import './components/mui_input_custom.css';

@import './../module/landing/landing.module.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: SVN-Gilroy, sans-serif !important;
  }

  img {
    user-select: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  input:-internal-autofill-selected {
    border: 1px solid transparent !important;
    -webkit-text-fill-color: white !important;
    font-size: 16px !important;
    line-height: 24px !important;
    background: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }

  .autofill2 input:-webkit-autofill,
  .autofill2 input:-webkit-autofill:hover,
  .autofill2 input:-webkit-autofill:focus,
  .autofill2 textarea:-webkit-autofill,
  .autofill2 textarea:-webkit-autofill:hover,
  .autofill2 textarea:-webkit-autofill:focus,
  .autofill2 select:-webkit-autofill,
  .autofill2 select:-webkit-autofill:hover,
  .autofill2 select:-webkit-autofill:focus,
  .autofill2 input:-internal-autofill-selected {
    border: 1px solid transparent !important;
    -webkit-text-fill-color: white !important;
    font-size: 16px !important;
    line-height: 24px !important;
    background: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px #42488a inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }

  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/svn-gilroy/Gilroy-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/svn-gilroy/Gilroy-LightItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/svn-gilroy/Gilroy-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 400;
    src: local('/fonts/svn-gilroy/Gilroy-RegularItalic.ttf'),
      url('/fonts/svn-gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/svn-gilroy/Gilroy-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/svn-gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/svn-gilroy/Gilroy-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 600;
    src: local('/fonts/svn-gilroy/Gilroy-SemiBoldItalic.ttf'),
      url('/fonts/svn-gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/svn-gilroy/Gilroy-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SVN-Gilroy';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/svn-gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter/Inter-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter/Inter-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter/Inter-Bold.ttf') format('truetype');
  }
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  color: rgb(189, 189, 189) !important;
}
.CircularProgress.bioprogress span {
  font-size: 14px;
  line-height: 22px;
  position: absolute;
  top: 98px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
}
.css-i4bv87-MuiSvgIcon-root {
  color: #6b7280;
}

.ant-notification {
  z-index: 1300 !important;
}

.ant-slider {
  margin-left: 0px;
}

.anticon svg {
  height: 15px;
  width: 15px;
}

.slider-green {
  position: relative !important;
}

.slider-green .ant-slider-handle {
  width: 6px !important;
  height: 6px !important;
  margin-top: -1px !important;
  position: absolute !important;
}

.ant-input {
  color: #ffffff !important;
  padding: 12px 15px !important;
  font-size: 16px;
}

.MuiChip-root {
  background-color: #4654ea !important;
  color: white !important;
  font-size: 14px !important;
}

.MuiChip-deleteIcon {
  color: #ffffff !important;
}

.WAMuiChipInput-chip-16 {
  margin: 0px 8px 8px 0px !important;
}

.MuiInputBase-input {
  color: white;
  font-family: Gilroy !important;
  font-size: 14px;
  font-weight: 400;
  margin-top: -12px !important;
}

.test {
  width: 0;
  display: none;
  transition: 0.5s all;
}

.test.test-after {
  width: 210px;
  display: block;
}
