.backgroundAuthen {
  background-image: url('../../../public/authen/background_signup_form.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.imageBackground {
  background-image: url('../../../public/authen/image-signup-form-player.png');
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 0px;
  left: 0px;
}

.imageBackgroundPlayer {
  background-image: url('../../../public/authen/image-signup-form-player.png');
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 0px;
  left: 0px;
}

.imageBackgroundCoach {
  background-image: url('../../../public/authen/image-signup-form-coach.png');
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 0px;
  left: 0px;
}

.backgroundPlayerSkill {
  background-image: url('../../../public/authen/signup-form-player-skills.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundCoachSkill {
  background-image: url('../../../public/authen/signup-form-coach-skills.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundBiography {
  background-image: url('../../../public/authen/signup-form-biography.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle {
  background: linear-gradient(
    358.24deg,
    #353951 4.28%,
    rgba(28, 56, 198, 0) 92.63%
  );
}
