.backgroundAuthen {
  background-image: url('../../../public/authen/background_signup_form.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.imageBackground {
  background-image: url('../../../public/authen/image-signup-form.png');
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 0px;
  left: 0px;
}

.backgroundPlayerSkill {
  background-image: url('../../../public/authen/signup-form-player-skills.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle {
  background: linear-gradient(
    358.24deg,
    #353951 4.28%,
    rgba(28, 56, 198, 0) 92.63%
  );
}
