.image {
  margin-top: -54px;
}

.content {
  margin-top: 81px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #ffffff !important;
  opacity: 1;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-left: 4px;
}

.ant-carousel .slick-dots li button {
  background: #818389 !important;
  opacity: 1;
  width: 6px !important;
  height: 6px !important;
  border-radius: 3px !important;
  margin-left: 4px;
}

.ant-carousel .slick-dots li {
  width: 14px !important;
}

.modal {
  box-shadow: 0px 25px 50px rgba(38, 38, 38, 0.1);
}

.signupWith {
  background: rgba(100, 116, 139, 0.4);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 21px;
}

.signupWith :hover {
  background: #252627;
}
